   <div class="head text-center">
                        <h1>New client</h1>
                        <h2>Onboarding Requirments</h2>
                        <p>The following is a checklist of technical requirements and instructions for onboarding a new issuer into the securitize platform.</p>
                    
                        <div class="container">
                        <div class="row">
                    <div class="col-md-4 col-sm-3 col-xl-4">
                        <a href="javascript:void(0)" class="top-btn btn">
                                <img src="/img/landing.png" alt="Landing page"> <span>Landing page </span> <i class="fa fa-angle-right" style="font-size:18px;color:white"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-3">
                            <a href="javascript:void(0)" class="top-btn btn">
                                    <img src="/img/brush-svg.png" alt="Customization"> <span>Customization </span> <i class="fa fa-angle-right" style="font-size:18px;color:white"></i>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-3">
                                <a href="javascript:void(0)" class="top-btn btn">
                                        <img src="/img/single-folded-content-svg.png" alt="Documents"> <span>Documents </span> <i class="fa fa-angle-right" style="font-size:18px;color:white"></i>
                                </a>
                            </div>
            
                    </div>
                </div>
                    </div>