<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
    <h1 class="site-title"><img src="/img/Vektor-Smartobjekt-pdf.png" style="width: 200px;" alt=""></h1>

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

    <ul class="nav nav-pills flex-column sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="color-gray">
                        1. Issuer Instance 
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="color-gray">
                        2. Landing page 
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="color-gray">
                        3. Customization 
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link clear-b" href="#">
                <span class="color-gray">
                        4. Documents 
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="color-gray">
                        5. Agreements
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="color-gray">
                        6. Hosting and DNS
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active " href="#">
                <span class="color-gray">
                        7. Others 
                    </span>
                <i class="fa fa-angle-right float-right color-gray" style="font-size:20px"></i>
            </a>
        </li>
    </ul>
    <p class="logout-button">© 2018 Securitize. All rights reserved.</p>
</nav>
