<header class="page-header row justify-center">
    <div class="col-md-6 col-lg-8 pl-4 pt-3">
        <p class="float-left text-center text-md-left orange-color"><i class="fa fa-angle-left" style="font-size:18px"></i>&nbsp;&nbsp;Go to Securitize.io
            <p>
    </div>
    <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
        <div class="pl-4 pt-3">
            <p class="float-right text-center text-md-right orange-color"><img src="/img/support-17-svg.svg">&nbsp;<span class="white-color">You need help? </span>Contact us!</p>
        </div>
    </div>
</header>