body {
  background-color: #f9fafe;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #444444; }

h1, h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dfdfdf; }

h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a, a:visited {
  color: #7376df; }

a:hover, a:focus, a:active {
  color: #6365d2;
  text-decoration: none; }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #7376df; }

h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600; }

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 500; }

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }

h5 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  letter-spacing: .1rem;
  font-weight: 500;
  text-transform: uppercase; }

p {
  color: #7c7c7c;
  font-size: .9rem; }

.card-inverse p {
  color: #fff;
  font-size: .9rem; }

.card h1 {
  border: none;
  margin: 0;
  padding-bottom: .5rem; }

.no-padding {
  padding: 0; }

.clear {
  clear: both; }

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-muted {
  color: #a0a0a0 !important; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  margin: 2rem auto; }

.circle {
  border-radius: 499rem; }

.jumbotron {
  padding: 3rem 2rem;
  background-color: #f7f7f7; }

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
  background-color: #7376df !important;
  border-color: #7376df !important; }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background-color: #6365d2 !important;
  border-color: #6365d2 !important; }

.btn-outline-primary {
  color: #7376df !important;
  border-color: #7376df !important; }

.btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
  color: #7376df !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
  color: #6365d2 !important; }

.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
  background-color: #7376df !important;
  background-image: none; }

.nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
  color: #DC923F;
  background-color: #232F3D;
  font-weight: bold; }

.form-control:focus {
  border-color: #7376df !important; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff !important;
  background-color: #7376df;
  border-color: #7376df; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #6365d2;
  border-color: #6365d2; }

.btn-outline-primary, .btn-outline-primary:visited {
  color: #7376df;
  border-color: #7376df;
  background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #7376df;
  border-color: #7376df;
  color: #fff; }

.btn-secondary {
  border-color: #7c7c7c;
  background-color: #7c7c7c;
  color: #fff; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #444444;
  background-color: #444444;
  color: #fff; }

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #7c7c7c;
  border-color: #7c7c7c;
  background: none; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #7c7c7c;
  background: #7c7c7c;
  color: #fff; }

.btn {
  border-radius: 499rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8rem;
  padding: .75rem 1.25rem;
  cursor: pointer; }

.btn:focus {
  outline: none;
  border: 0;
  box-shadow: none; }

.btn-xs {
  font-size: .6rem;
  padding: .5rem 1rem; }

.btn-sm {
  font-size: .7rem;
  padding: .5rem 1rem; }

.btn-md {
  font-size: .8rem;
  padding: .75rem 1.25rem; }

.btn-lg {
  font-size: .9rem;
  padding: 1rem 1.5rem; }

.btn-subtle {
  border: none;
  background: #f7f7f7;
  color: #7376df;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
  color: #fff;
  background-color: #7376df;
  outline: none; }

.btn-stripped {
  border: none;
  background: none !important;
  color: #444444 !important;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
  color: #7376df;
  background-color: none;
  outline: none; }

.dropdown a {
  color: #444444; }

.dropdown a:hover, .dropdown a:active, .dropdown a:focus {
  background-color: #7376df;
  color: #fff; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  /* border-right: 1px solid #eee; */
  background: #092441; }
  .sidebar a {
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
    padding: .75rem 1rem; }
  .sidebar em {
    font-size: 1rem; }
  .sidebar h1 {
    color: #fff;
    border: none;
    font-size: 0.9rem;
    padding: 0rem 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .sidebar .site-title {
    margin-top: .5rem;
    margin-bottom: 1.75rem; }
    .sidebar .site-title a {
      font-size: .9rem;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer; }
    .sidebar .site-title a:hover {
      background: none !important; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }
  .sidebar .logout-button {
    color: #62696F;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 85%;
    text-align: center; }

#wrapper.toggled .sidebar-nav {
  display: none; }

#menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.sidebar a:focus, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
  background-color: #374760 !important; }

@media screen and (max-width: 576px) {
  #wrapper .sidebar-nav {
    display: none; }

  #wrapper.toggled .sidebar-nav {
    display: block !important; }

  .sidebar {
    position: inherit;
    padding-bottom: 0px;
    /* margin-bottom: 1rem; } */
  }

  #menu-toggle {
    background-color: #082541;} }
@media screen and (min-width: 576px) {
  #wrapper.toggled .sidebar-nav {
    display: block; }

  #menu-toggle {
    display: none; } }
.card-title {
  margin-top: -.25rem;
  padding-bottom: .25rem;
  margin-bottom: 1rem; }

.card-subtitle {
  margin-top: -.75rem;
  padding-bottom: .5rem; }

.card-title-btn-container {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  list-style: none; }

.alert {
  color: #fff; }
  .alert a {
    color: #fff !important; }

.no-left-margin {
  margin-left: 0; }

.page-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0rem;
  /* margin-bottom: 2.4rem; */
  background-color: #232F3D;
  /* border-bottom: 1px solid #eee; */
  height: auto; }
  .page-header h1 {
    display: inline;
    border: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%; }

.profile-photo {
  border-radius: 499rem;
  float: left; }

.username {
  float: left;
  text-align: left;
  margin: 0 0 0 1rem; }
  .username h1, .username h2, .username h3, .username h4 {
    margin-bottom: 0;
    text-transform: none !important;
    letter-spacing: 0 !important; }

.user-dropdown .dropdown-toggle::after {
  margin-top: 1rem;
  margin-left: 1rem; }

.user-progress {
  margin-top: 1rem; }
  .user-progress .profile-photo {
    max-height: 75px;
    max-width: 75px !important; }

.progress-custom {
  margin-top: .25rem; }

.progress-label {
  text-align: center !important;
  color: #7376df;
  font-size: .75rem;
  margin-top: -.25rem; }

.progress-bar {
  height: .3rem; }

#calendar, .datepicker-inline {
  width: 100%;
  text-align: center; }

#calendar table {
  width: 100%; }

.datepicker-switch {
  font-size: 16px;
  height: 46px !important; }

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #dfdfdf; }

.datepicker table tr td {
  padding: 2px 2px !important;
  cursor: pointer;
  border-radius: .3rem; }

#calendar th {
  text-align: center !important;
  cursor: pointer;
  border-radius: .3rem; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #7376df;
  text-shadow: none;
  border-color: #285e8e; }

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: rgba(0, 0, 0, 0.05); }

.panel-heading .glyphicon {
  margin-right: 10px; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: calc( 100% - 65px );
  float: right;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  box-shadow: none; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-right: 11px solid #dfdfdf;
  border-left: 0 solid #dfdfdf;
  border-bottom: 11px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #444444;
  width: 46px;
  height: 46px;
  line-height: 2.8rem;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  margin-left: 3px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 100;
  border-radius: 9999px; }

.timeline-badge.primary {
  background-color: #7376df !important;
  color: #fff !important;
  border: none !important; }

.timeline-badge.success {
  background-color: #8ad919 !important; }

.timeline-badge.warning {
  background-color: #ffb53e !important; }

.timeline-badge.danger {
  background-color: #f9243f !important; }

.timeline-badge.info {
  background-color: #30a5ff !important; }

.article {
  padding: 1rem 0;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 1rem; }

.article:first-child {
  padding: 0 0 10px 0; }

.article:last-child {
  padding: 0 0 10px 0;
  border: none;
  margin-bottom: 0; }

.article h4 a {
  margin-bottom: 10px; }

.article .date {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto;
  display: block; }

.article .date .text-muted {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.todo-list-item {
  list-style: none;
  padding: .75rem 1rem .15rem 1rem;
  border-radius: .3rem; }
  .todo-list-item .fa {
    margin: 0 .25rem 0 0;
    color: #444444; }
  .todo-list-item .fa:hover {
    color: #7376df; }
  .todo-list-item input[type=checkbox] {
    margin: 0 0.5rem 0 0 !important;
    border: 1px solid #333; }

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #444444; }

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #a0a0a0; }

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f7f7f7; }

.todo-list-item .trash .fa:hover {
  color: #ef4040; }

.todo-list-footer {
  margin: -20px;
  margin-top: 2rem; }
  .todo-list-footer .btn {
    border-radius: .4rem; }
.margin-lr-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.card-header {
  background-color: white;
  color: #2eb5d4;
  font-weight: bold;
}

.card {
  margin-bottom: 35px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.orange-color {
  color: orange;
}

.white-color {
  color:white
}

.clear-b {
  clear: both;
}

.nav-link p {
  font-size: 12px;
}

.color-gray {
  color:#9FA0A3;
}

.active .color-gray {
  color: #E19234;
}

.head {
  background-image: url("/img/top_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:  100px;
  padding-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px; 
}

.head h1 {
  border: none;
  font-size: 72px;
  color: white;
  font-weight: inherit;
  text-transform: uppercase;
}

.head h2 {
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}


.head p {
  border: none;
  color: white;
  padding-bottom: 20px;
}

.min-margin-lr-15 {
  /* margin-left: -15px;
  margin-right: -15px; */
}

.margin-t-20 {
  margin-top: 40px;
}

.landing-img {
  background-image: url("/img/landing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-btn {
  color: white;
  border-radius: 10px;
  width: 322px;
  margin-bottom: 20px;
  background: linear-gradient(#04BDC3, #02999E);
}

.top-btn span { 
  color: white;
}

.text-bold {
  font-weight: bold;
}

.block-title {
  color: #0083A8;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.block-subtitle {
  color: #0083A8;
  font-size: 12px;
  margin-bottom: 0px;
}

.gray {
  color: #627D8E;
}

.table-title1 {
  color:#429FBC;
  font-weight: normal;
  font-size: 14px;
}

.table-title2 {
  color: #869BA8;
  font-weight: normal;
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

tbody {
  background-color: #F6FAFC;
}

.td1 {
  color:#75D4D9;
  font-weight: bold;
  font-size: 14px;
}

.td2 {
  color: #627d8e;
  font-size: 14px;
}

.api-endpoint {
  background-color: #F6FAFC;
  border-radius: 5px;
  margin-bottom: 20px;
}

.api-endpoint code { 
  color: #8298A5;
  font-weight: bold;
}

.card hr {
  margin-bottom: 40px;
  margin-top: 40px;
}

.inline {
  display: inline;
}

.line {
  margin-bottom: 15px;
}

.bgw {
  background-color: white;
}

.info-icon {
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  width: 35px;
  background-color: #E8EFF3;
}


.inline-grid {
  display: inline-grid;
}

.hosting-icon {
  margin-left: 15px;   
  margin-bottom: 30px;
}

.inline-flex {
  display: inline-flex;
}

.w-25x {
  width: 25px;
}

.coral-color {
  color: #11C0C6
}

.btn-img {
  text-align: right;
  background: linear-gradient(#FFFFFF, #F6FAFC);
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 5px;
}

.btn-img a { 
  font-size: 14px;
  color: gray;
  font-weight: normal;
}