<div class="card">
        <div class="card-header">5. Agreements</div>
        <div class="card-block">
                <p>
                        The issuer may supply texts for the various legal agreements appearing at different stages of the investment wizard . Agreements can have different texts based on the user’s country. If not supplied, we will use standard agreements (subscription agreement must be supplied).
                </p>


                <table class="table table-bordered ">
                        <tbody class="bgw">
                                <tr>
                                <td class="table-title1">Subscription agreement </td>
                                <td class="td2">The issuer will supply PDF of the user’s final subscription agreement to the fund</td>
                                </tr>
                        </tbody>
                        </table>
        </div>
</div>