<div class="card">
        <div class="card-header">3. Customization</div>
        <div class="card-block">
        <p>The following should be provided to customize the investor dashboard for the client’s look and feel.</p> 
        <table class="table table-bordered">
                <tbody class="bgw">
                        <tr>
                        <td class="table-title1">
                                <img src="/img/palette-svg.svg" class="w-25x"> <span class="coral-color">Color Scheme</span>
                        </td>
                        <td class="td2">
                                The client will supply two leading colors (as hex values), to be used as the leading colors for the platform provided UI components
                        </td>
                        </tr>
                        <tr>
                        <td class="table-title1">
                                        <img src="/img/globe-svg.svg"  class="w-25x">  <span class="coral-color">Favicon</span> 
                        </td>
                        <td class="td2">
                                The client should supply favicon graphics recommended: <span style="font-weight: bold;">180x180px</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="table-title1">
                                        <img src="/img/ghost-svg.svg"  class="w-25x"> <span class="coral-color">Logo</span> 
                        </td>
                        <td class="td2">
                                The client should supply logo graphics with the following specifications:
                                <div  class="line">
                                        <img src="/img/check-square-11-svg.svg" class="inline">
                                        <p class="inline">Site top part: height:48px, width 240px (recommended) </p>
                                </div>
                                <div  class="line">
                                        <img src="/img/check-square-11-svg.svg" class="inline">
                                        <p class="inline">Token logo: square proportion, at least 76x76px</p>
                                </div>
                                <div  class="line">
                                        <img src="/img/check-square-11-svg.svg" class="inline">
                                        <p class="inline">Bright(white) logo: A logo that looks good on dark background height: 48px, width 240px (recommended)</p>
                                </div>
                                <div  class="line">
                                        <img src="/img/check-square-11-svg.svg" class="inline">
                                        <p class="inline">Big Logo: 600x315px</p>
                                </div>
                        </td>
                        </tr>
                </tbody>
                </table>     
                <p class="gray text-bold">
                                3.a. Platform text customization
                        </p>  
                        <p>
                                Securitize will provide the client with a javascript library that should be integrated in the site. Once integrated, The javascript library scans the html of the page for elements incorporating specific securitize data tags, and applies functionalities to these items.
                        </p>
                        <p>
                                The landing page itself can be developed using any back-end programming environment, or be built as an SPA if required.
                        </p>
                        <table class="table table-bordered">
                                <tbody class="bgw">
                                        <tr>
                                        <td class="table-title1 coral-color">Middle area text</td>
                                        <td class="td2 ">Text for the middle area of the dashboard. The text can be anything, but it is recommended that it will explain the token sale process in broad terms, for a first time user. It is possible and recommended to embed an instructional video in this area.</td>
                                        <td class="td2 "><button class="btn btn-default"></button></td>
                                        </tr>
                                        <tr>
                                        <td class="table-title1 coral-color">First wizard page text</td>
                                        <td class="td2">Text for the introduction page of the wizard, explaining the various parts of the investment process</td>
                                        <td class="td2"><button class="btn btn-default"></button></td>
                                        </tr>
                                </tbody>
                                </table>
                                <hr>
                                <p class="gray text-bold">
                                        3.a. Email texts
                                </p>  
                                <p>The issuer may supply texts for the following emails (Optional - if not supplied, standard texts will be used instead).</p>
                                <table class="table table-bordered">
                                        <thead>
                                                <tr class="fs-12">
                                                <th>TYPE:</th>
                                                <th>DEFAULT:</th>
                                                </tr>
                                        </thead>
                                        <tbody class="bgw"> 
                                                <tr>
                                                <td>
                                                        <p class="td1">Registration email</p>
                                                        <p>Sent after the user issued their registration request</p>
                                                </td>
                                                <td>
                                                                <p class="gray text-bold">
                                                                <span class="table-title2">Subject:</span>   Your interest in &lt;fund name&gt;
                                                                </p>  
                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">
                                                        <p>Thank you for your interest in &lt;fund name&gt;.</p>
                                                        <p>Your request for more information has been approved.</p>
                                                        <p>Please press the button below to validate your email address and continue.</p>
                                                        <button></button>
                                                        <p>Pressing the button will also confirm your subscription to our list.</p>
                                                        <p>You may also contact us at:  <span class="table-title1">info@fundname.com</span> </p>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td>
                                                                <p class="td1">Welcome email </p>
                                                                <p>Sent after the user confirmed their registration request.</p>
                                                </td>
                                                <td >
                                                                <p class="gray text-bold">
                                                                                <span class="table-title2">Subject:</span>   Welcome to &lt;fund name&gt; - some important details about your dashboard 
                                                                </p>
                                                                <hr style="margin-top: 10px; margin-bottom: 10px;">
                                                                <p>
                                                                        Welcome!
                                                                </p>      
                                                                <p>Your email address has been verified, and you now have a secure personal investor dashboard on       <a href="www.fundname.com/dashboard">www.fundname.com/dashboard</a>.</p>
                                                                <p>After investing, this dashboard will contain information about your account and all future information relating to &lt;fund name&gt; and its portfolio companies.</p>
                                                                <p>This secure dashboard is the only place where we will ever show you sensitive information such as wallets, bank accounts or details about exits and buy-backs - and only you can see it.</p>
                                                                <p>If you have any issues, please contact us at: <span class="table-title1">info@fundname.com.</span></p>
                                                                <p>You can also get closer to the &lt;fund name&gt; community on our Telegram group.</p>
                                                                <p>Thanks again for signing up, we're looking forward to having you as an investor in the fund.</p>
                                                                <p>The &lt;fund name&gt; team</p>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td>
                                                                <p class="td1">Investment request received</p>
                                                                <p>Sent after the user completed an investment request</p>
                                                </td>
                                                <td>
                                                                <p class="gray text-bold">
                                                                                <span class="table-title2">Subject:</span>   Thank you for your  &lt;fund name&gt;  Investment Application
                                                                </p>
                                                                <hr style="margin-top: 10px; margin-bottom: 10px;">
                                                                <p>
                                                                                Thank you for your &lt;fund name&gt; investment application! 
                                                                </p>
                                                                <p>Your personal investor code is: <span class="gray text-bold">342378</span> </p>
                                                                <p>Your investment application has been received.</p>
                                                                <p>In the meantime, If you haven't yet, please review and sign your subscription agreement here.</p>
                                                                <p>You can always check your status on your investment dashboard . For any other questions please contact us at: <span class="table-title1">info@fundname.com.</span> </p>
                                                                <p>Thanks!</p>
                                                                <p>The &lt;fund name&gt; team</p>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td>
                                                                <p class="td1">Wallet created email</p>
                                                                <p>Sent after the user’s investment request was approved, and a wallet was allocated for him or her. This email should include a link to the user’s dashboard, where detailed instructions will appear for him to send funds. For security purposes it cannot include the actual instructions</p>
                                                </td>
                                                <td>
                                                                <p class="gray text-bold">
                                                                                <span class="table-title2">Subject:</span>   Your Investment Request
                                                                </p>
                                                                <hr style="margin-top: 10px; margin-bottom: 10px;">
                                                                <p>Congratulations, your investment application has been approved! </p>
                                                                <p>Your personal investor code is:  <span class="gray text-bold">342378</span> </p>
                                                                <p>Please send 512 ETH to the Ethereum Address ending with: <span class="gray text-bold"> ********************3ea8 </span> </p>
                                                                <p>which now appears on your dashboard on <a href="www.fundname.com">www.fundname.com</a>.</p>
                                                                <p>In case you send a different amount of ETH, the amount of &lt;fund name&gt; Tokens allocated will change accordingly.</p>
                                                                <p>For any other questions please contact us at: <span class="table-title1">info@fundname.com</span>.</p>
                                                                <p>Thanks!</p>
                                                                <p>The &lt;fund name&gt; team</p>
                                                </td>
                                                </tr>
                                        </tbody>
                                        </table>
</div>
</div>