<div class="card">
        <div class="card-header">4. Documents</div>
        <div class="card-block">
                <p>The issuer should supply the following documents, to be integrated into the documents section of the site. </p>
                <p>The issuer should host the documents on a web accessible URL, we recommend using docsend.com as it is integrated into the system and will allow the client to track document access by user name.</p>
                <p class="gray text-bold">
                        Common documents include:
                </p>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">White paper</p>
                </div>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">Offering memorandum (optional)</p>
                </div>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">Executive summary (optional)</p>
                </div>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">Any other documents relevant to the offering</p>
                </div>
        </div>
</div>