<div class="card">
        <div class="card-header">6. Hosting and DNS</div>
        <div class="card-block">
                <p>
                        The securitze platforms uses amazon web services for its infrastructure.
                </p>
                <p>
                        The client’s platform instance will be hosted on separate, load balanced set of amazon servers, using RDS for database requirements and S3 for storage requirements.
                </p>
                <div  class="line">
                                <img src="/img/check-square-11-svg.svg" class="inline">
                                <p class="inline">Upon creation of the production environment, the issuer will point its DNS servers to an address supplied by securitize.</p>
                        </div>
                        <div  class="line">
                                <img src="/img/check-square-11-svg.svg" class="inline">
                                <p class="inline">The client may purchase an extended validation (EV) SSL certificate, in order to provide better security for the site. If such a certificate is not provided, we will use a standard amazon SSL certificate.</p>
                        </div>
        </div>
</div>