<div class="card">
        <div class="card-header">
                1. Issuer Instance
                <div class="inline btn-img">
                <a href="">
                        <img src="/img/tail-up-svg.svg" alt=""> Jump to top
                </a>
        </div>
</div>
        <div class="card-block">
                <p>Issuer communication with the Securitize platform will be based on a unique instance of the system, generated for the issuer and used only by it.
                        The instance will be identified by a unique URL, which will be the entry point for the client integration.</p>
                </div>
</div>