<div class="card">
    <div class="card-header">2. Landing page</div>
    <div class="card-block">
        <p>
            An investor entry point to the issuer token sale will be a landing page, designed and maintained by the issuer.
            Integration between the landing page and the issuer instance is performed through a javascript library, accessible through a specialized URL in the client instance:
        </p>
        <div class="api-endpoint">
                <img src="/img/alert-circle-i-svg.svg" class="info-icon">
            <code>
                    https://&lt;CLIENT_ID&gt;.securitize.io/integrations/&lt;CLIENT_KEY&gt;
            </code>
        </div>
        <p>
            The landing page can be developed using any kind of technology and be hosted on any kind of server or CMS.
        </p>
        <hr>
        <p class="gray text-bold">
                2.a. Securitize offers two options for hosting the landing page area:
        </p>
        <div class="row">
            <div class="col-md-6">
                <img src="/img/self-hosting.svg" class="inline" style="width: 65px;">
                <div class="inline-grid hosting-icon">
                        <p class="block-title">
                                Self hosting 
                        </p>
                        <p class="block-subtitle">(recommended)</p>
                </div>
                    
                <p>
                        Issuer will host the landing page, as part of their site (optionally managed through a content management system), and will use a javascript library securitize provides to provide the registration and login functionalities.
                        Using this method the issuer retains full control of the landing page, and will be able to change it as frequently as needed. However, the issuer will also remain fully responsible for the security of the landing page.
                </p>
            </div>

            <div class="col-md-6">
                    <img src="/img/hosting2.svg" class="inline" style="width: 65px;">
                    <div class="inline-grid hosting-icon">
                <p class="block-title">
                        Hosting at Securitize 
                </p>
                </div>
                    <p>
                            Securitize will host the landing page as part of the platform. Client will send securitize a static HTML or single-page-application file for the landing page area along with all its assets. Securitize will perform the required integration and host it as part of the Client’s instance of the platform. This requires minimal development by the client, and is also potentially more secure. However, The issuer will not be able to make changes to the landing page without sending a new version to Securitize.
                    </p>
            </div>
        </div>
        <hr>
        <p class="gray text-bold">
                2.b. Javascript library integration
        </p>
        <p>
                Securitize will provide the client with a javascript library that should be integrated in the site. Once integrated, The javascript library scans the html of the page for elements incorporating specific securitize data tags, and applies functionalities to these items.
            </p> <p>    The landing page itself can be developed using any back-end programming environment, or be built as an SPA if required.
        </p>
        <p class="gray text-bold">
                2.b.a. Action Attributes
        </p>

        <table class="table table-bordered">
            <thead>
                <tr>
                <th class="table-title1">data-securitize-action</th>
                <th class="table-title2">Designates an element as participating in the securitize login process. Should be applied to a button or a link on the page.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td class="fs-12">Accepted values:</td>
                <td></td>
                </tr>
                <tr>
                <td class="td1">"Main"</td>
                <td class="td2">The button opens the securitize registration user interface component</td>
                </tr>
                <tr>
                <td class="td1">"Dashboard"</td>
                <td class="td2">The button goes to the securize dashboard. (only for logged-in users)</td>
                </tr>
                <tr>
                <td class="td1">"login"</td>
                <td class="td2">The button opens the securitize login user interface component</td>
                </tr>
                <tr>
                <td class="td1">"logout"</td>
                <td class="td2">The button logs the user out of Securitize</td>
                </tr>
            </tbody>
            </table>

        <p class="gray text-bold">
                2.b.b. Visibility control data attributes 
        </p>
        <table class="table table-bordered">
                <thead>
                    <tr>
                    <th class="table-title1">data-securitize-state</th>
                    <th class="table-title2">Can be applied to any element, usually used on a < div ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="fs-12">Accepted values:</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td class="td1">“logged-out”</td>
                    <td class="td2">The element will be displayed only if the user is logged out of the system. (default state)</td>
                    </tr>
                    <tr>
                    <td class="td1">“logged-in”</td>
                    <td class="td2">The element will be displayed only if the is logged in the system</td>
                    </tr>
                </tbody>
                </table>

                <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th class="table-title1">data-securitize-restriction-state</th>
                            <th class="table-title2">Can be applied to any element, usually used on a < div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="fs-12">Accepted values:</td>
                            <td></td>
                            </tr>
                            <tr>
                            <td class="td1">“Unrestricted”</td>
                            <td class="td2">The element will be displayed only for countries in which it is allowed to display unrestricted marketing data for unregistered users (US, UK, several more)</td>
                            </tr>
                            <tr>
                            <td class="td1">“Restricted”</td>
                            <td class="td2">The element will be displayed only for countries in which it is  not allowed to display unrestricted marketing data</td>
                            </tr>
                        </tbody>
                        </table>
                        <p><span style="font-weight: bold; color: gray;">EXAMPLE:</span> This snippet will display a “login” button for logged-out users, and a “dashboard” button for users who are logged in.</p>
                

        <p class="gray text-bold">
                2.b.c. Text Control data attributes
        </p>
        <p>Using these will change the text/value of the element based on user state (logged-in / logged-out). The value can be any string.</p>
        <table class="table table-bordered">
                <tbody>
                    <tr>
                    <td class="table-title1">data-securitize-logged-out-text</td>
                    <td class="td2">Text to display when the user is logged out (default)</td>
                    </tr>
                    <tr>
                    <td class="table-title1">data-securitize-logged-in-text</td>
                    <td class="td2">Text to display when the user is logged in</td>
                    </tr>
                </tbody>
                </table>
                <p>Using these will define which supported action is executed when the element on which they are defined is clicked based on user state. The values are the same as those of the <span class="table-title1">“data-securitize-action”</span> attribute.</p>

                <table class="table table-bordered">
                        <tbody>
                            <tr>
                            <td class="table-title1">data-securitize-logged-in-action</td>
                            <td class="td2">Action to run when the user is logged in</td>
                            </tr>
                            <tr>
                            <td class="table-title1">data-securitize-logged-out-action</td>
                            <td class="td2">Action to run when the user is logged out</td>
                            </tr>
                        </tbody>
                        </table>
                        <p><span style="font-weight: bold; color: gray;">EXAMPLE:</span>This snippet will display a link with the text “login”, that opens the login interface, when the user is logged out, and the text “logout”, 	which logs out, when the user is logged in.</p>
                        <p><span style="font-weight: bold; color: gray;">EXAMPLE:</span>This snippet will display a link with the text “Register for Token Sale”, that opens the registration interface, when the user is logged out, and the text “Invest Now”, which directly links to the user’s dashboard, when the user is logged in.</p>
                
                        <div class="api-endpoint inline-flex">
                                <img src="/img/alert-circle-i-svg.svg" class="info-icon inline">
                                <div class="inline-grid" style="padding: 10px;">
                            <p>The javascript library exposes the following functions:</p>
                            <table class="table table-bordered">
                                    <tbody class="bgw">
                                        <tr>
                                        <td>securitizeDocumentReady()</td>
                                        <td class="td2">Re-attaches the securitize logic to required elements. Should only be used if elements are added dynamically from the client side (such as in the case of single-page-applications)</td>
                                        </tr>
                                    </tbody>
                                    </table>
                            <p class="gray text-bold">
                                    Securitize will provide integration support for the javascript library if required.
                            </p>
                        </div>
                        </div>
            </div>   
        </div> 