<div class="card">
        <div class="card-header">7. Others</div>
        <div class="card-block">
                <div class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">Blocked countries list - a list of countries not to allow to the sale (if not supplied - all countries besides china, in which ICOs are not allowed, will be allowed).</p>                
                </div>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">The details of the client’s security token should be provided: Name, Symbol (recommended - 3-5 letters) and icon.</p>
                </div>
                <div  class="line">
                        <img src="/img/check-square-11-svg.svg" class="inline">
                        <p class="inline">The client will provide securitize access to two email addresses - one for sending emails from (such as mailer@fundname.com), and one for support (such as support@fundname.com).</p>
                </div>
        </div>
</div>